@model IEnumerable<MyCompanySellInfo.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Register", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <ul class="list-unstyled">
                    @foreach (var role in item.Roles)
                    {
                        <li>@role.Role.Name</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.Partial("_EditDetailsDelete", item.Id)
            </td>
        </tr>
    }

</table>
